*{
    color:grey;
}

.productItem{
    font-size: small;
    font-weight: 300;
    color: black;
    border : none;
    margin-right: 100px;
    height: 50px;
    width:1000px;    
    text-align: center;
}

.productsFlex{
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    flex: 1;
}

.toolBarItemActive{
    color:white;
    background-color: grey;
    font-size: small;
    font-weight: 300;
    border: 2px solid grey;
    margin-right: 10px;
    height: 25px;
    width:100px;    
    text-align: center;
}

.tableProduct{
    border: rgb(246, 246, 246);
    margin: 20px;
    width: 100%;
}

.productTableItem{
    background-color:rgb(246, 246, 246);
    text-align: center;
}

.name{
    color:black;
    font-size: xx-large;
}

.price{
    color:red;
    font-size: large;
}

.button{
    color: red;
    border: 1px solid red;
    border-radius: 10px;

}