*{
    color:grey;
    font-size: small;
    
}

.productItem{
    border : none;
    height: 50px; 
    text-align: center;
    font-weight: 300;   
}

.productsFlexColumn{
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    flex: 1;    
    align-items:flex-start; 
}

.productsFlexRow{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    flex: 1;    
    text-align: center;
}

.toolBarItemActive{
    color:white;
    background-color: grey;
    font-size: small;
    font-weight: 300;
    border: 2px solid grey;
    margin-right: 10px;
    height: 25px;
    width:100px;    
    text-align: center;
}

.name{
    color:black;
    font-size: xx-large;
}

.price{
    color:red;
    font-size: large;
}

.button{
    color: red;
    border: 1px solid red;
    border-radius: 10px;
    
}