*{
    color:grey;
    font-size: small;
    
}

.item{
    background-color: rgb(241, 240, 239);
    margin:10px;
}

.productsFlexColumn{
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    flex: 1;     
}

.productsFlexRow{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    flex: 1;    
}



.name{
    color:black;
    font-size: xx-large;
}

.price{
    color:red;
    font-size: large;
}

.button{
    color: red;
    border: 1px solid red;
    border-radius: 10px;    
}

